<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1294</integer>
    <key>capHeight</key>
    <integer>596</integer>
    <key>copyright</key>
    <string>Copyright 2025 The Gidugu Project Authors (https://github.com/googlefonts/gidugu)</string>
    <key>descender</key>
    <integer>-790</integer>
    <key>familyName</key>
    <string>Gidugu</string>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>macintoshFONDFamilyID</key>
    <integer>128</integer>
    <key>macintoshFONDName</key>
    <string>Gidugu</string>
    <key>openTypeHeadCreated</key>
    <string>2012/09/29 05:06:40</string>
    <key>openTypeHeadFlags</key>
    <array/>
    <key>openTypeHheaAscender</key>
    <integer>1294</integer>
    <key>openTypeHheaDescender</key>
    <integer>-790</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDescription</key>
    <string></string>
    <key>openTypeNameDesigner</key>
    <string>Purushoth Kumar Guthula</string>
    <key>openTypeNameDesignerURL</key>
    <string></string>
    <key>openTypeNameLicense</key>
    <string></string>
    <key>openTypeNameLicenseURL</key>
    <string></string>
    <key>openTypeNameManufacturer</key>
    <string>SiliconAndhra, USA.</string>
    <key>openTypeNameManufacturerURL</key>
    <string></string>
    <key>openTypeNamePreferredSubfamilyName</key>
    <string>Regular</string>
    <key>openTypeNameSampleText</key>
    <string></string>
    <key>openTypeNameUniqueID</key>
    <string></string>
    <key>openTypeOS2FamilyClass</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>250</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>50</integer>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1294</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-790</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2VendorID</key>
    <string>pyrs</string>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1294</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>790</integer>
    <key>postscriptBlueFuzz</key>
    <integer>1</integer>
    <key>postscriptBlueScale</key>
    <real>0.04</real>
    <key>postscriptBlueShift</key>
    <integer>7</integer>
    <key>postscriptFontName</key>
    <string>Gidugu</string>
    <key>postscriptForceBold</key>
    <false/>
    <key>postscriptIsFixedPitch</key>
    <false/>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>48</integer>
      <integer>44</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>131</integer>
      <integer>101</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-1100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>60</integer>
    <key>postscriptUniqueID</key>
    <integer>-1</integer>
    <key>postscriptWeightName</key>
    <string>Regular</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Regular</string>
    <key>trademark</key>
    <string></string>
    <key>unitsPerEm</key>
    <integer>1124</integer>
    <key>versionMajor</key>
    <integer>2</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>410</integer>
    <key>year</key>
    <integer>0</integer>
  </dict>
</plist>
